# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & outputs
*.csv
*.json
!data/raw/smogon/*.csv
!data/raw/smogon/*.json
!data/processed/*.json
*.log
*.h5
*.pkl
*.ignore
# Environments
.env
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
